<aside>
    <div class="top">
        <div class="logo">
            <img src="../../assets/image/logo.png" alt="this is logo">

        </div><!--logo-->
        <div class="close">
            <span><i class="fas fa-times"></i></span>
        </div><!--close-->
    </div><!--top-->

    <div class="sidebar">
        <a href="./index.html">
            <span><i class="fas fa-tachometer-alt"></i></span>
            <h3>Dashboard</h3>
        </a>
        <a href="#" class="active">
            <span><i class="fas fa-user-alt"></i></span>
            <h3>customer</h3>
        </a>

        <a href="#">
            <span> <i class="fas fa-shopping-cart"></i></span>
            <h3>Orders</h3>
        </a>
        <a href="#">
            <span> <i class="fas fa-th-large"></i></span>
            <h3>Category</h3>
        </a>

        <a href="#">
            <span><i class="fas fa-box"></i></span>
            <h3>Products</h3>
        </a>
        <a href="./addNewProduct.html">
            <span><i class="fas fa-plus"></i></span>
            <h3>Add Products</h3>
        </a>

        <a href="#">
            <span><i class="fas fa-cogs"></i></span>
            <h3>setting</h3>
        </a>

        <a href="#">
            <span><i class="fas fa-sign-out-alt"></i></span>
            <h3>Log Out</h3>
        </a>
    </div><!--sidebar-->
</aside>
